<!DOCTYPE html>
<html>
	<head>
		<!-- Bootstrap 4 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
		<!-- Font awesome library -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Favicon -->
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
		<!-- Angular js -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-cookies.js"></script>
		<!-- font -->
		<link href="https://fonts.googleapis.com/css?family=Mandali&display=swap" rel="stylesheet">
		<!-- CSS -->
		<style>
			@media screen and (min-width: 1024px){
				.navbar-nav{
					position: absolute;
					left: 35%;
				}
				.navbar-brand{
					margin-left: 5%;
				}
			}
			.scroll-top{
				position: fixed;
				width: 50px;
				height: 50px;
				bottom: 25px;
				right: 10px;
				display: none;
			}
			.scroll-top i{
				display: inline-block;
				color: #fff;
			}

			body{
				background-color: #512DA8;
				margin-top: 100px;
			}

			.col-5, col-6{
				padding: 0px;
			}

			.login{
				background-color: rgba(255, 255, 255, .25);  
				backdrop-filter: blur(10px);
				padding-top: 60px;
				padding-left: 50px;
			}
			.login-container{
				box-shadow: -5px 5px 5px 0px rgba(0, 0, 0, 0.75);
			}
		</style>
	</head>
	<body  ng-app = "login">		
		<div class = "container-fluid">
			<div class = "row">
				<div class = "col-3">
				</div>
				<div class = "col-7">
					<div class = "login-container row">
						<div class = "col-5">
							<img src = "images/login.jpg" style = "width: 100%;">
						</div>
						<div class = "login col-7">
							<h2>Login</h2>
							<form ng-controller = "login-controller" name = "login-form" ng-submit = "login()">
								<div class="form-group col-10">
									<label for="email">Email address:</label>
									<input type="email" class="form-control" id="email" name = "email" ng-model = "umail" required>
								</div>
								<div class="form-group col-10">
									<label for="password">Password:</label>
									<input type="password" class="form-control" id="pwd" name = "pwd" ng-model = "upwd" required>
								</div>
								<button type="submit" class="btn btn-primary">Submit</button>
							</form>
						</div>
					</div>
				</div>
				<div class = "col-2">
				</div>
			</div>
		</div>
			
		<script src = "script/login.js"></script>
	</body>
</html>